.signup {
  background-color: white;
  width: 25%;
  height: 50%;
  margin: 60px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}
.signupForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signupForm .inputGroup label {
  margin-top: 5px;
  
}

.signupForm .inputGroup input {
  margin-bottom: 5px;
  padding: 10px;
}
.signupForm .inputGroup button {
  margin-top: 5px;
}
.signup h6 {
  margin-top: 10px;
  text-align: center;
  font-weight: initial;
  color: rgb(83, 0, 139);
  text-transform: Sentence capitalize;
}
