.addNote {
  background-color: white;
  width: 25%;
  margin: 50px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}
.addNoteForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addNoteForm .inputGroup label {
  margin-top: 5px;
}

.addNoteForm .inputGroup input {
  margin-bottom: 5px;
  padding: 10px;
}
.addNoteForm .inputGroup button {
  margin-top: 8px;
}
.addNote h4 {
  margin-top: 30px;
  text-align: center;
  font-weight: initial;
  color: rgb(83, 0, 139);
  text-transform: Sentence capitalize;
}
