.verifyUser {
  background-color: white;
  width: 25%;
  height: 50%;
  margin: 50px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}
.verifyUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.verifyUserForm .inputGroup label {
  margin-top: 5px;
  
}

.verifyUserForm .inputGroup input {
  margin-bottom: 5px;
  padding: 10px;
}
.verifyUserForm .inputGroup button {
  margin-top: 50px;
  
}

.verifyUser h6 {
  margin-top: 5px;
  text-align: center;
  font-weight: initial;
  color: rgb(83, 0, 139);
  text-transform: Sentence capitalize;
}

.verifyUser .h6 button {
  border: 0;
  
}
